@model ConsidLibrary.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<h2>LibraryItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("CategoryName", "Index", new { sortOrder = ViewBag.CategorySortParm })

        </th>

        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.libraryItem.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libraryItem.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libraryItem.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libraryItem.RunTimeMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libraryItem.IsBorrowable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libraryItem.Borrower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libraryItem.BorrowDate)
        </th>
        <th></th>
    </tr>
    @{int i = 0;}
    @foreach (var item in Model.listOfLibraryItems)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title) <span>@Model.titleAcronyms[i]</span> @{i++;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBorrowable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) | <br />
                @Html.ActionLink("Check In", "CheckIn", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
